

body{

    font-family: 'Mont';
    font-size: 16px;

}

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: 'Mont';
}
@font-face {
    src: url("../fonts/BalooChettan-Regular.ttf");
    font-family: 'Baloo';
}
.dropdown-item-red:active{
    color: #fff;
    text-decoration: none;
    background-color: #bd2130;
}
.limiter .container-login100 .wrap-login100 .login100-form hr{
    margin: 15px auto;
    width: 25%;
    border: none;
    background: #da2c2d;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 40px;
}
/*Sedky TODO*/

.text-up {text-transform: uppercase;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-middle {vertical-align: middle;}

dis-none {display: none;}
.dis-block {display: block;}
.dis-inline {display: inline;}
.dis-inline-block {display: inline-block;}
.dis-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.pos-relative {position: relative;}
.pos-absolute {position: absolute;}
.pos-fixed {position: fixed;}

.float-l {float: left;}
.float-r {float: right;}

.sizefull {
    width: 100%;
    height: 100%;
}
.w-full {width: 100%;}
.h-full {height: 100%;}
.max-w-full {max-width: 100%;}
.max-h-full {max-height: 100%;}
.min-w-full {min-width: 100%;}
.min-h-full {min-height: 100%;}
.top-0 {top: 0;}
.bottom-0 {bottom: 0;}
.left-0 {left: 0;}
.right-0 {right: 0;}

.top-auto {top: auto;}
.bottom-auto {bottom: auto;}
.left-auto {left: auto;}
.right-auto {right: auto;}
.bgwhite {background-color: white;}
.bgblack {background-color: black;}

.hov-pointer:hover {cursor: pointer;}

.bo-cir {border-radius: 50%;}

.of-hidden {overflow: hidden;}

.visible-false {visibility: hidden;}
.visible-true {visibility: visible;}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;

}


a {
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #da2c2d;
}



ul, li {
    margin: 0px;
    list-style-type: none;
}


input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {

    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {

    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    padding-top: 20px;
}

.limiter {
    width: 100%;

}

.container-login100 {
    width: 100%;

    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*background color*/
    background-color: #f8d7da;
}

.wrap-login100 {
    width: 500px;
    background: #ffffff;/*FOrm color*/
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 316px;
}




/*------------------------------------------------------------------
[  ]*/
.login100-form {
    margin: auto;
}

.login100-form-title {
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    margin-top: 20px;
    font-family: Baloo;
    font-size: 40px;
}


/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {

    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #da2c2d;
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out;
    animation: anim-shadow 0.5s ease-in-out;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 20px 20px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 20px 20px;
        opacity: 0;
    }
}

.symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #da2c2d;
    padding-left: 28px;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.login100-form-btn {
    font-family: Mont;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #da2c2d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background: #333333;
}
@media (max-width: 992px) {
    .wrap-login100 {
        padding: 0px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 0px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 0px 15px 33px 15px;
    }
}

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    /* font-family: Poppins-Medium;*/
    color: #c80000;
    /*font-size: 13px;*/
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.navbar{
    background-color: #111B29;
}
.navbar .navbar-collapse .navbar-nav li .nav-link{
    color: white;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease-in-out;
}
.navbar .navbar-collapse .navbar-nav li .nav-link:hover{
    color: #bd2130;
    border-bottom: 2px solid #bd2130;
    transition: all 0.3s ease-in-out;
}
.form-registration .container h3:first-child{
    font-family: Baloo;
    margin: 15px auto;
    font-size: 50px;
    text-align: center;
}
.form-registration .container hr{
    margin: 15px auto;
    width: 25%;
    border: none;
    background: #007bff;
    height: 3px;
    border-radius: 5px;
}

.footer{
    background-color: #111b29;
    text-align: center;
}
.footer .container .subscribe{
    color: white;
    background-color: #da2c2d;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px 0;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer .container h3{
    font-weight: lighter;
    font-size: 16px;
    margin: auto 0;
}
.footer .container h3:after{
    content: '|';
    padding-left: 60px;
}
.footer .container .input input{
    line-height: 18px;
    background: transparent;
    border: 1px solid #da2c2d;
    color: white;
    outline: none;
}
.footer .container .input input::placeholder{
    color: white;
}
.footer .container .input a{
    color: white;
}
.footer .container .links{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 50px 0;
}
.footer .container .links h4{
    color: white;
    text-transform: capitalize;
    padding-bottom: 10px;
    font-size: 20px;
}
.footer .container .links .services span,
.footer .container .links .information span,
.footer .container .links .contact-info span{
    display: block;
    color: #93abcd;
    font-size: 14px;
    padding: 5px 0;
}
.footer .container .links .services span a,
.footer .container .links .information span a{
    padding: 5px;
    color: #93abcd;
    transition: 0.3s;
    margin-left: -12px;
    margin-right: 12px;
}
.footer .container .links .services span i,
.footer .container .links .information span i{
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.footer .container .links .services span:hover a,
.footer .container .links .information span:hover a{
    color: #da2c2d;
    margin-left: 0;
    margin-right: 0;
}
.footer .container .links .services span:hover i,
.footer .container .links .information span:hover i{
    color: #da2c2d;
    opacity: 1;
    visibility: visible;
}
.footer .container .copy-rights{
    color: white;
}
.footer .container .copy-rights .social .social-links{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.footer .container .copy-rights .social .social-links a{
    background: none;
    margin: auto 10px;
    font-size: 25px;
    border: 2px solid #DA3C3E;
    color: #DA3C3E;
    width: 44px;
    height: 44px;
    line-height: 42px;
    text-align: center;
    transition: 0.3s;
    border-radius: 50%;
}
.footer .container .copy-rights .social .social-links a:hover{
    background-color: #DA3C3E;
    color: white;
}
@media (max-width: 767px){
    .footer .container .subscribe h3{
        display: none;
    }
    .footer .container .links{
        display: block;
        text-align: center;
    }
    .footer .container .links .services,
    .footer .container .links .information,
    .footer .container .links .contact-info{
        margin-bottom: 30px;
    }
    .footer .container .links .services,
    .footer .container .links .information{
        width: auto;
    }
}

.card-body mx-auto{
    background-color: #f1b0b7;

}